/* *---- Fonts ----* */
/* !- Text font -! */
@font-face {
	font-family: Montserrat;
	src: url(../assets/fonts/Montserrat-Regular.ttf);
}
/* !- Clock font -! */
@font-face {
	font-family: Clock;
	src: url(../assets/fonts/alarm\ clock.ttf);
}

/* *---- KeyFrames ----* */
@keyframes navHeight {
	from {
		height: 0;
	}
	to {
		height: 10vh;
	}
}
@keyframes navHeightQuit {
	from {
		height: 10vh;
	}
	to {
		height: 0;
	}
}

/* *---- General rules ----* */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav a,
.clock span,
footer {
	user-select: none;
}
nav a,
footer {
	font-family: Montserrat;
}

/* *---- Loader ----* */
#loader {
	background: #000;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 101;
	display: grid;
	place-content: center;
}
#loader img, #test {
	filter: invert(1);
	width: 15rem;
}

/* *---- Clock ----* */
main {
	display: grid;
	height: 100vh;
	place-items: center;
	position: relative;
	z-index: 1;
}
main::before {
	background: rgba(0, 0, 0, 0.7);
	content: '';
	height: 100%;
	inset: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.clock {
	color: white;
	display: flex;
	font-family: Clock;
	font-size: 5rem;
	justify-content: center;
	font-weight: bold;
	gap: 0.5rem;
}
#session {
	margin-left: 1rem;
}

/* !- Backgrounds -! */
.morning-bg {
	background: url('../assets/imgs/morning-bedroom.jpg');
	background-position-y: center;
	background-size: cover;
}
.noon-bg{
	background: url('../assets/imgs/noon-bedroom.jpg');
	background-position-y: center;
	background-size: cover;
}
.afternoon-bg{
	background: url('../assets/imgs/afternoon-bedroom.jpg');
	background-position-y: center;
	background-size: cover;
}
.night-bg {
	background: url('../assets/imgs/night-bedroom.jpg');
	background-position-y: center;
	background-size: cover;
}

/* !- Medias -! */
@media screen and (max-width: 500px) {
	.clock {
		font-size: 3rem;
	}
}
@media screen and (max-width: 350px) {
	.clock {
		font-size: 2rem;
	}
}


/* *---- Footer ----* */
footer {
	align-items: center;
	bottom: 10px;
	color: white;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	position: absolute;
	right: 10px;
	z-index: 10;
}
